.media-left-container {
    margin-right: 10px;
}

.tweet-compose-mediaSection-container {
    display: flex;
    max-height: 270px;

    .media-right-container, .media-left-container {
        display: flex;
        flex-direction: column;
        flex: 1 1;

        .tweet-compose-media-1, .tweet-compose-media-2, .tweet-compose-media-3, .tweet-compose-media-4 {
            flex: 1 1;
            overflow-y: hidden;
            border-radius: 16px;
            border-color: rgba(0, 0, 0, 0);
        }

        .tweet-compose-media-1, .tweet-compose-media-2 {
            margin-bottom: 5px;
        }

        .tweet-compose-media-3, .tweet-compose-media-4 {
            margin-top: 5px;
        }

        img.tweet-compose-selected-media {
            height: 100%;
            width: 100%;
        }
    }
}

@media (min-width: 703px) {
    .tweet-modal-container {
        position: fixed;
        z-index: 2;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: rgba(0,0,0,.5);
        display: flex;
        align-items: center;

        .tweet-modal-content {
            background: white;
            max-height: 90vh;
            width: 600px;
            border-radius: 16px;
            margin: 5% auto auto auto;

            .back-button {
                height: 100%;
                display: flex;
                align-items: center;
                margin-left: 5px;
            
                .back-button-sizing {
                    width: 22.5px;
                    height: 22.5px;
                    fill: rgba(29,161,242,1.00);
                }
            }

            .tweet-modal-nav-style {
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-bottom-color: #e6ecf0;
            }
    
            .navigation-compose-button-container {
    
                .navigation-compose-button {
                display: none;
                }
            
                .navigation-large-compose-button {
                    display: flex;
                    align-items: center;
                    width: 77px;
                    height: 30px;
                    background-color: rgb(29, 161, 242);
                    border-color: rgba(0, 0, 0, 0);
                    border-width: 0px;
                    border-style: solid;
                    border-radius: 9999px;
                    text-align: center;
            
                    .navigation-large-compose-button-text {
                        color: white;
                        width: 100%;
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                        font-weight: 700;
                        font-size: 15px;
                    }
                }
            }
    
            .tweet-compose-content-container {
                display: flex;
                flex-direction: row;
                padding: 10px 1em;
    
                .tweet-profile-pic-container {
                    margin-right: 9px;
            
                    .tweet-profile-pic {
                        border-radius: 9999px;
                    }
                }
    
                .tweet-compose-text-content-container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    padding-top: 5px;
                    border-color: rgba(0, 0, 0, 0);
                    border-radius: 4px;
                    border-width: 2px;
    
                    .tweet-compose-textarea {
                        width: 100%;
                        min-height: 120px;
                        border: none;
                        padding: 8px 0;
                        font-size: 19px;
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                        overflow-wrap: break-word;
                    }
    
                    .tweet-compose-textarea::placeholder {
                        color: #5B7083;
                        font-weight: 400;
                    }

                    .tweet-compose-public-settings-container {
                        display: block;
                        padding-bottom: 10px;
                        font-size: 13px;
                        font-weight: 700;
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                        overflow-wrap: break-word;
                        color: rgba(29,161,242,1.00);
    
                        .tweet-compose-public-settings-icons {
                            display: inline-flex;
                            align-items: center;
                            padding-left: 5px;
                            padding-right: 5px;
                            min-height: 30px;
    
                            .tweet-compose-public-settings-people-icon {
                                display: inline-block;
                                margin-right: 0.5em;
                                
                                .tweet-compose-public-settings-people-icon-style {
                                    width: 19.5px;
                                    height: 19.5px;
                                    fill: rgba(29,161,242,1.00);
                                }
                            }
                        }
    
                        .tweet-compose-public-settings-text {
                            max-width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }
    
                    .tweet-compose-icons-container {
                        display: flex; 
                        flex-direction: row;
                        padding: 10px 2px 0 2px;
                        border-top: 1px rgb(235, 238, 240) solid;
    
                        .tweet-compose-icon-option-container {
                            display: flex;
                            align-items: center;
                            width: 37px;
                            height: 37px;
    
                            .tweet-compose-icon {
                                width: 22.5px;
                                height: 22.5px;
                                fill: rgba(29,161,242,1.00);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 702px) {
    .tweet-modal-container {
        position: fixed;
        z-index: 2;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: white;

        .tweet-modal-content {
            height: 100%;
        }

        .back-button {
            height: 100%;
            display: flex;
            align-items: center;
            margin-left: 5px;
        
            .back-button-sizing {
                width: 22.5px;
                height: 22.5px;
                fill: rgba(29,161,242,1.00);
            }
        }

        .tweet-modal-nav-style {
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #e6ecf0;
            border-left: 1px solid #e6ecf0;
            border-right: 1px solid #e6ecf0;
        }

        .navigation-compose-button-container {

            .navigation-compose-button {
            display: none;
            }
        
            .navigation-large-compose-button {
                display: flex;
                align-items: center;
                width: 77px;
                height: 30px;
                background-color: rgb(29, 161, 242);
                border-color: rgba(0, 0, 0, 0);
                border-width: 0px;
                border-style: solid;
                border-radius: 9999px;
                text-align: center;
        
                .navigation-large-compose-button-text {
                    color: white;
                    width: 100%;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                    font-weight: 700;
                    font-size: 15px;
                }
            }
        }

        .tweet-compose-content-container {
            display: flex;
            flex-direction: row;
            padding: 10px 1em;

            .tweet-profile-pic-container {
                margin-right: 9px;
        
                .tweet-profile-pic {
                    border-radius: 9999px;
                }
            }

            .tweet-compose-text-content-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding-top: 5px;
                border-color: rgba(0, 0, 0, 0);
                border-radius: 4px;
                border-width: 2px;

                .tweet-compose-textarea {
                    width: 100%;
                    min-height: 120px;
                    border: none;
                    padding: 8px 0;
                    font-size: 19px;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                    overflow-wrap: break-word;
                }

                .tweet-compose-textarea::placeholder {
                    color: #5B7083;
                    font-weight: 400;
                }

                .tweet-compose-public-settings-container {
                    display: block;
                    padding-bottom: 10px;
                    font-size: 13px;
                    font-weight: 700;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                    overflow-wrap: break-word;
                    color: rgba(29,161,242,1.00);

                    .tweet-compose-public-settings-icons {
                        display: inline-flex;
                        align-items: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        min-height: 30px;

                        .tweet-compose-public-settings-people-icon {
                            display: inline-block;
                            margin-right: 0.5em;
                            
                            .tweet-compose-public-settings-people-icon-style {
                                width: 19.5px;
                                height: 19.5px;
                                fill: rgba(29,161,242,1.00);
                            }
                        }
                    }

                    .tweet-compose-public-settings-text {
                        max-width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                .tweet-compose-icons-container {
                    display: flex; 
                    flex-direction: row;
                    padding: 10px 2px 0 2px;
                    border-top: 1px rgb(235, 238, 240) solid;

                    .tweet-compose-icon-option-container {
                        display: flex;
                        align-items: center;
                        width: 37px;
                        height: 37px;

                        .tweet-compose-icon {
                            width: 22.5px;
                            height: 22.5px;
                            fill: rgba(29,161,242,1.00);
                        }
                    }
                }
            }
        }
    }
}